.logoImg {
  width: 40px;
}
.navbar {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 gainsboro;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navLink {
  display: flex;
  align-items: center;
  margin-right: 6%;
}
.navLink li {
  list-style: none;
  margin-left: 7%;
}
.nav-herf {
  text-decoration: none;
  color: black;
}
